# Byte-compiled
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Credenziali (MAI sincronizzare)
bgy_config/config_mail.json
bgy_config/config_opensky.json
bgy_config/config_github.json
bgy_config/config_database.json

# Output generati
bgy_data/bgy_output/
bgy_data/bgy_charts/
bgy_data/bgy_logs/

# Backup locali
backup_*/
backup_scripts_*/

# OS
Thumbs.db
.DS_Store
desktop.ini

# IDE
.vscode/
.idea/
*.swp

# Backup
*.zip



bgy_config/config_database.json
